@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Freeman&family=Jacquard+12&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Freeman", sans-serif;
    cursor: crosshair;
}


body{
    height: 100vh;
    background: linear-gradient(100deg, #000000, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu div{
    align-items: top;
    justify-content: space-around;
    flex-direction: row;
}
.calendario{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 150px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 8px 10px rgb(5, 5, 5, .5);
}

.calendario div{
    height: 100px;
    width:  120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background:  rgb(5, 5, 5, .9);
    letter-spacing: 5px;
    border-radius: 5px;
    font-size: 40px;
}

.calendario span{
    font-weight: bolder;
}

.calendario span.tempo{
    font-size: 10px;
    text-shadow: #ffffff;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 150px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 8px 10px rgb(5, 5, 5, .5);
}

.relogio div{
    height: 100px;
    width:  120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background:  rgb(5, 5, 5, .9);
    letter-spacing: 5px;
    border-radius: 5px;
    font-size: 60px;
}

.relogio span{
    font-weight: bolder;
}

.relogio span.tempo{
    font-size: 15px;
    text-shadow: #ffffff;
}

.texto{
    align-items: flex;
    color: rgb(231, 229, 229);
    font-size: 30px;
    justify-content: center;
}
